.row{
    background: linear-gradient(to right, rgb(14, 195, 174), rgb(48, 56, 128));
    padding: 20px;
}
div{
    text-align: center;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 350px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 35%;
        top: 410px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    font-style: italic;
    font-size: x-large;
}