<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p style="color:#ffffff" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p style="color:#ffffff">Full Stack Developer Jr</p>
    </div>  
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2 style="color:#ffffff">Acerca de mi</h2>
            <p style="color:#ffffff"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic corrupti, dignissimos dicta, ratione doloremque error, nobis delectus porro cum odio tempora ullam expedita ex maiores sequi ea pariatur vero perspiciatis!</p>
        </span>
    </div>   
</div>
