@viewport{
    zoom: 1.0;
    width: device-width;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

img{
    width: 100%;
}

.row{
    background: linear-gradient(to right, rgb(14, 195, 174), rgb(48, 56, 128));
    padding: 20px;
}
div{
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
    font-style: italic;
    font-size: x-large;
}

.img-circle{
    border-radius: 50%;
}

#acercade{
    margin-top: 4%;
}

#desc{
    text-align: left;
}
@media (max-width: 575px){
    #fotodeperfil{
        width: 50%;
    }
}