.row{
    background: linear-gradient(to right, rgb(14, 195, 174), rgb(48, 56, 128));
    padding: 20px;
}
div{
    text-align: center;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        left: 3%;
        top: 350px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        left: 35%;
        top: 220px;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 20%;
    font-style: italic;
    font-size: x-large;
}

.img-circle{
    border-radius: 50%;
}