<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfin2.jpg" class="img-fluid" class="img-circle" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p style="color:#ffffff" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p style="color:#ffffff">Full Stack Developer Jr</p>
        <p style="color:#ffffff">Analista GTR</p>
    </div>  
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2 style="color:#ffffff">Acerca de mi</h2>
            <p style="color:#ffffff"> Trabajadora y experimentada con más de 7 años de experiencia en Gestión
                de Cobranzas y Análisis de Gestión. Tecnológicamente hábil, ofrezco
                experiencia en programas de ofimática, habilidades informáticas,
                habilidades blandas. Aporto una actitud positiva y la voluntad y motivación
                para aprender nuevos conocimientos.</p>
        </span>
    </div>
</div>
