<div class="row">
    <h2 style="color:#ffffff">Hard & Soft Skills</h2>

    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-light" routerLink="/newskill" *ngIf="isLogged">
            Nuevo Skill
        </button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
         <circle-progress
             [percent]="(skill.porcentaje)"
             [radius]="100"
             [title]="(skill.nombre)"
             [titleColor]="'#ffffff'"
             [showTitle]="true" 
             [showImage]="false"
             [imageHeight]="70"
             [imageWidth]="70"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#EC407A '"
             [innerStrokeColor]="'#F8BBD0 '"
             [animation]="true"
             [animationDuration]="300"
         ></circle-progress>
         <div>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-light" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>
            </td>
         </div>
         
    </div>
</div>
