<div class="row">
    <h1 style="color:#ffffff">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul style="color:#ffffff">
            <li>
                <h1 style="color:#ffffff">Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p style="color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quasi, reiciendis quidem quod fugiat odit voluptas ullam harum autem, quos beatae repudiandae dolore, eius hic cum alias sint non laboriosam.</p>
        </ul>
        <ul style="color:#ffffff">
            <li>
                <h1 style="color:#ffffff">Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p style="color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quasi, reiciendis quidem quod fugiat odit voluptas ullam harum autem, quos beatae repudiandae dolore, eius hic cum alias sint non laboriosam.</p>
        </ul>
        <ul style="color:#ffffff">
            <li>
                <h1 style="color:#ffffff">Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p style="color:#ffffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quasi, reiciendis quidem quod fugiat odit voluptas ullam harum autem, quos beatae repudiandae dolore, eius hic cum alias sint non laboriosam.</p>
        </ul>
    </div>
</div>
