.header {
  height: 50vh;
  display: flex;
}

.content {
  margin: auto;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-top: 50px;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
  margin-top: 50px;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  margin-top: 60px;
}

.header-content {
  z-index: 2;
  margin-left: 60px;
  font-size: 50px;
  font-family: "Anonymous Pro", monospace;
}

/* Animacion del texto lnicial */

.main-container {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  margin-left: 10px;
}

.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-right: 2px solid #fff;
  font-size: 50px;
  white-space: nowrap;

  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
    height: 66px;
  }

  to {
    width: 100%;
    height: 66px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #fff;
  }

  to {
    border-right-color: transparent;
  }
}

@media (max-width: 768px) {

  .header-content {
    z-index: 2;
    margin-left: 10px;
    font-size: 22px;
    font-family: "Anonymous Pro", monospace;
  }

  /* Animacion del texto lnicial */

  .main-container {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    margin-left: 10px;
  }

  .typewriter-text {
    font-size: 22px;
  }

  @keyframes typewriter {
    from {
      width: 0;
      height: 30px;
    }

    to {
      width: 100%;
      height: 30px;
    }
  }
}

@media (max-width: 360px) {

  .header-content {
    z-index: 2;
    margin-left: 10px;
    font-size: 6vw;
    font-family: "Anonymous Pro", monospace;
  }

  /* Animacion del texto lnicial */

  .main-container {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    margin-left: 10px;
  }

  .typewriter-text {
    font-size: 6vw;
  }

  @keyframes typewriter {
    from {
      width: 0;
      height: 30px;
    }

    to {
      width: 100%;
      height: 30px;
    }
  }
}
