<div class="row">
    <h2 style="color:#ffffff">Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
             [percent]="65"
             [radius]="100"
             [imageSrc]="'../../../assets/html.png'"
             [showImage]="true"
             [imageHeight]="70"
             [imageWidth]="70"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#EC407A '"
             [innerStrokeColor]="'#F8BBD0 '"
             [animation]="true"
             [animationDuration]="300"
         ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../../../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#EC407A '"
            [innerStrokeColor]="'#F8BBD0 '"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/python.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <circle-progress
                  [percent]="90"
                  [radius]="100"
                  [imageSrc]="'../../../assets/premiere.png'"
                  [showImage]="true"
                  [imageHeight]="70"
                  [imageWidth]="70"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#EC407A '"
                  [innerStrokeColor]="'#F8BBD0 '"
                  [animation]="true"
                  [animationDuration]="300"
               ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/aef.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
     <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../../../assets/Excel.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
     ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../../../assets/git.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/trello.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EC407A '"
        [innerStrokeColor]="'#F8BBD0 '"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
</div>

