.row{
    background: linear-gradient(to right, rgb(14, 195, 174), rgb(48, 56, 128));
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px -1px 4px #999;
}